# vim:sw=2:et:

sudo: false
language: erlang
notifications:
  email:
    recipients:
      - alerts@rabbitmq.com
    on_success: never
    on_failure: always
addons:
  apt:
    sources:
      - sourceline: deb https://packages.erlang-solutions.com/ubuntu trusty contrib
        key_url: https://packages.erlang-solutions.com/ubuntu/erlang_solutions.asc
    packages:
      - awscli
      # Use Elixir from Erlang Solutions. The provided Elixir is
      # installed with kiex but is old. We also can't use kiex to
      # install a newer one because of GitHub API rate limiting.
      - elixir=1.7.4-1
cache:
  apt: true
env:
  global:
    - secure: lC0ku1JTsxc5D92exQZvWVfWDf8Fv5io6hFUMpH9j56crD/PdEI2sU8r1PJ8Ps6f4vB7oaXSqyXJZ502f8E6tidWq9O4G58a7VNI2HylUKFY4AA3BooUuxBQmAu0Tbrxx7Ns2D+l8wc4h44wH97ez6h62hGwZtFt85PqpL1ObCw=
    - secure: kzSDt1blTKTG28mn9wH5WphGjo2RuD/2/S9gBc/qF92mh0tV1794inYAlRiRwFwsXaffiLUJpXGUsCJ3wLr4B2vs/WPvxv/oyZbBJ1XBYvWhg0wrrcyNL2YC2QPevHawyasxtBAtdxN1SaK505aZd1JNCjw/gw4E6DwkJmKEsqg=

otp_release:
  - "21.2.2"

before_script:
  # The checkout made by Travis is a "detached HEAD" and branches
  # information is missing. Our Erlang.mk's git_rmq fetch method relies
  # on it, so we need to restore it.
  #
  # We simply fetch master and, if it exists, v3.8.x branches. A branch
  # is created, pointing to the detached HEAD.
  - |
    git checkout -B "${TRAVIS_TAG:-${TRAVIS_BRANCH}}"
    git remote add upstream https://github.com/$TRAVIS_REPO_SLUG.git
    git fetch upstream v3.8.x:v3.8.x || :
    git fetch upstream master:master || :
  # Make sure we use Elixir from Erlang Solutions and not kiex.
  - |
    echo YES | kiex implode
    elixir --version
    elixir --version | grep -q 'Elixir 1.7.4'

script:
  - make xref
  - make tests

after_failure:
  - |
    cd "$TRAVIS_BUILD_DIR"
    if test -d logs && test "$AWS_ACCESS_KEY_ID" && test "$AWS_SECRET_ACCESS_KEY"; then
      archive_name="$(basename "$TRAVIS_REPO_SLUG")-$TRAVIS_JOB_NUMBER"

      tar -c --transform "s/^logs/${archive_name}/" -f - logs | \
        xz > "${archive_name}.tar.xz"

      aws s3 cp "${archive_name}.tar.xz" s3://server-release-pipeline/travis-ci-logs/ \
        --region eu-west-1 \
        --acl public-read
    fi
